/* LINKS */

.block a {
  color: var(--color-accent);
}
  
.block a[target]::after,
.block a[href]::after {
  display: inline-block;
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-regular);
  margin: 0 calc(var(--margin-text) /3) 0 calc(var(--margin-text) /1.5);
}

.block a:not(.no-arrow):after {
  content: "→";
}
 
.block a[target]:not(.no-arrow):after {
  content: "↗︎";
}

/* Hover */

.block a:hover {
  text-decoration-line: underline;
  text-underline-offset: 21.25%;
  text-decoration-thickness: 0.07em;
}

/* Cursor */

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  /* -webkit-text-fill-color: inherit; */
}