/* ICONS */

i {
    width: var(--height-btn);
    height: var(--height-btn);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
  
i {
    margin-right: calc(var(--block-padding) / 2);
}
  
i.twitter {
    background-image: url("/assets/images/icons/twitter.svg");
    background-color: var(--color-primary);
}
  
i.twitter:hover {
    background-color: var(--color-accent);
}
  
i.facebook {
    background-image: url("/assets/images/icons/facebook.svg");
    background-color: var(--color-primary);
}
  
i.facebook:hover {
    background-color: var(--color-accent);
}
  
i.mastodon {
    background-image: url("/assets/images/icons/mastodon.svg");
    background-color: var(--color-primary);
}
  
i.mastodon:hover {
    background-color: var(--color-accent);
}
  
i.instagram {
    background-image: url("/assets/images/icons/instagram.svg");
    background-color: var(--color-primary);
}
  
i.instagram:hover {
    background-color: var(--color-accent);
}
  
i.linkedin {
    background-image: url("/assets/images/icons/linkedin.svg");
    background-color: var(--color-primary);
}
  
i.linkedin:hover {
    background-color: var(--color-accent);
}

/* Icons */
/* À modifier avec du text ou les svg du figma */
.icon {
    width: var(--block-padding);
    height: var(--block-padding);
  }