/* BUTTONS */
/* ajouter line-height 0 aux buttons */

.btn-height {
  /* ? */
  height: var(--height-btn);
}

button,
label,
.btn,
::file-selector-button,
::-webkit-file-upload-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-code);
  background: var(--color-secondary);
  padding: 0 var(--padding-btn);
  height: var(--height-btn);
  width: max-content;
}

button,
span,
::file-selector-button,
::-webkit-file-upload-button {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-2);
}

.btn--icon {
  width: var(--height-btn);
  padding: 0;
  align-items: center;
}

.btn:not(.flex-col) .icon + * {
  margin-left: 0.5em;
}

.btn.flex-col .icon + * {
  margin-top: 0.5em;
}

button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Blocks options */

/* Use for selected block buttons */
.flex {
  display: flex;
}

#md-buttons,
#edit-buttons--left {
  position: absolute;
  left: 0;
  z-index: var(--z-index-edit);
}

#md-buttons {
  top: calc(
    0px - calc(var(--height-btn) + var(--margin-block-edit))
  ); /* -48px */
  transform-origin: bottom left; /* ? */
}

#edit-buttons {
  /* ? */
  margin-top: 10px;
}

#edit-buttons--left {
  bottom: calc(
    0px - calc(var(--height-btn) + var(--margin-block-edit))
  ); /* -48px */
}

#bold {
  font-weight: var(--font-weight-bold);
}

#italic {
  font-style: italic;
}

#note {
  visibility: collapse;
  letter-spacing: -2px;
}

symbol > #icon-link #quote {
  letter-spacing: 2px;
}

#markdown {
  color: var(--color-primary);
}

.warn {
  background-color: red;
  color: #fff;
}

/* LEGACY */

/* ?

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
}

button.active a {
  color: var(--color-secondary);
}

a.link-full:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

*/
