/* BLOCKS REPRESENTATIVE */

/* Representative */

/* Image */

.block--representative__image,
.block--representative figure {
  position: relative;
}

.blocks.full .block--representative figure img,
.blocks.horizontal .block--representative figure img {
  object-fit: cover;
  max-height: 35vh;
}

.blocks.full .block--representative__image + .block--representative__sum,
.blocks.horizontal .block--representative__image + .block--representative__sum {
  max-height: 40vh;
  overflow-y: scroll;
}

.block--representative__image a {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
}

.block--representative__image a:hover {
  background-color: transparent;
}

/* Summary */

.block--representative__sum {
  padding: var(--block-padding);
}

/* Data */

.block--representative__data {
    display: flex;
  }
  
.block--representative__data > div {
    width: 100%;
}
  
.block--representative__data > div > * {
    margin-bottom: var(--padding-btn-slim);
}

/* Linked spaces */

.block--representative__linked-spaces {
  line-height: var(--line-height-text);
  margin-top: var(--margin-text);
}

.block--representative__linked-spaces a {
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3);
}