/* BLOCKS IMAGE */

img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.block--image  {
  min-width: var(--padding);
}

/* Figcaption */

figcaption {
  padding: var(--block-padding);
}

figcaption p {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
}

/* Input */

input[type="file"] {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
  width: auto;
  margin: var(--block-padding);
}

::file-selector-button,
::-webkit-file-upload-button {
  display: inline-block;
  margin-right: calc(var(--margin-block)/2);
}

.block--image button#cover { /* ? */
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
  transform: scale(0.666);
}

/* MOBILE */

@media
  only screen and (max-device-width: 480px) and (orientation:portrait),
  only screen and (max-device-width: 900px) and (orientation:landscape)
 {
  .block--image {
    width: auto;
    border: none;
    outline: var(--border) solid var(--color-primary);
  }
}