/* BLOCKS CODE */

.block--code {
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-3);
}

/* .block--code div,
input {
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-3);
} */

/* textarea.block--code {
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-text);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: var(--font-size-3);
} */