/* BREADCRUMB */

.breadcrumb {
    position: fixed;
    z-index: 999;
    top: calc(var(--padding) + 3.125rem);
    left: 0;
    right: 0;
    padding-right: var(--padding);
    padding-left: var(--padding);
    overflow-x: auto;
    padding-bottom: 0.875rem;
    display: none;
  }
  
  .breadcrumb ol {
    display: flex;
    width: max-content;
  }
  
  .breadcrumb ol > li:nth-child(1),
  .breadcrumb ol > li:nth-child(2) {
    display: none;
  }
  
  .breadcrumb ol > li:last-child {
    margin-right: var(--padding);
  }
  
  .breadcrumb ol > li {
    margin-right: 1px;
    margin-bottom: 1px;
  }
  
  .breadcrumb ol > li > a {
    display: inline-block;
    background: var(--color-secondary);
    padding: 0.05em 0.5em;
    min-height: 1.875rem;
    /* 30px */
  }