/* BROWSERS */

/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
}
  
/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 0px;
    border: none;
}