@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

[type=fetchAPI].k-button {
  height: 100%;
  text-align: left;
}


.spin {
  animation: rotation 2s infinite linear;
}